
<p class="bg-dark text-white text-center">
  {{title}}
</p>
<table class="table table-bordered">
  <thead>
    <tr class="table-primary">
      <th scope="col">Execution Order</th>
      <th scope="col">Task Name</th>
      <th scope="col"> Task Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td class="table-active">
        <a [routerLink]="['/mysqlConnection']" class="list-group-item list-group-item-action ">Create Mysql Connection </a>
      </td>
      <td *ngIf="task1"> <div class="table-success"> Yes </div></td>
       <td *ngIf="!task1"> <div class="table-danger"> No  </div> </td>
     </tr>
    <tr>
      <td>2</td>
      <td>
        <a [routerLink]="['/hanaConnection']" class="list-group-item list-group-item-action">Create SapHana Connection</a>
      </td>
      <td *ngIf="task2"> <div class="table-success"> Yes </div></td>
      <td *ngIf="!task2"> <div class="table-danger"> No  </div> </td>

    </tr>
    <tr>
      <td>3 </td>
      <td>
        <a [routerLink]="['/createtables']" class="list-group-item list-group-item-action">Create Tables</a>
      </td>
      <td *ngIf="task3"> <div class="table-success"> Yes </div></td>
      <td *ngIf="!task3"> <div class="table-danger"> No  </div> </td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <a [routerLink]="['/insertdata']" class="list-group-item list-group-item-action">Insert Data in Tables</a>
      </td>
      <td *ngIf="task4"> <div class="table-success"> Yes </div></td>
      <td *ngIf="!task4"> <div class="table-danger"> No  </div> </td>
    </tr>
  </tbody>
</table>